@font-face {
	font-family: 'NotoSans';
	src: url('../fonts/NotoSans-Regular.ttf');
}

//css reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}
a {
	text-decoration: none;
}
body {
	line-height: 1;
	font-family: 'NotoSans';
}
html, body {
  height: 100%;
}
/*#wrapper {
  min-height: 100%;
  margin-bottom: -157px;
}
#wrapper:after {
  content: "";
  display: block;
}
footer, #wrapper:after {
  height: 157px;
}*/
.clear {
	clear: both;
}
.inner {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
body {
  font-family: 'NotoSans';
  color: #656565;
  background: url('../img/bg.png') no-repeat top left #fff;
}
#wrapper {
  
  header {

    .inner {
      padding: 5px 0 10px 0;
      background: #e67817;
      
      #logo {
        display: block;
        width: 135px;
        height: 90px;
        background: url('../img/logo.png') no-repeat;
        margin-left: 10px;
        float: left;
      }
      .title {
        color: #1f1c17;
        font-size: 24px;
        float: left;
        margin-left: 110px;
        margin-top: 30px;
        vertical-align: middle;
      }
    }
  }
  #menutop {
    
    .inner {
      padding-top: 13px;
      padding-bottom: 13px;
      background: #090909;
      text-align: center;

      ul {

        li {
          display: inline-block;
          vertical-align: top;
          margin-right: 18px;

          a {
            font-size: 13px;
            color: #e87813;
          }
          a.current, a:hover {
            color: #c06310;
          }
        }
        li:last-child {
          margin-right: -4px;
        }
      }
    }
  }
  #slidertop {

    .inner {

      #slider {
        position: relative;
        width: 960px;
        height: 250px;
        background: #e67817;

        .slide {

          img {
            width: 960px;
            height: 260px;
          }
          .slide-inner {
            position: relative;
            width: 100%;
            height: 100%;

            .slide-block-wrapper {
              position: absolute;
              left: 0;
              bottom: 30px;
              width: 555px;
              height: 206px;
              background: url('../img/bgslideblock.png') no-repeat;

              .slide-block {
                padding-top: 25px;
                padding-left: 30px;

                h1 {
                  font-size: 36px;
                  margin-bottom: 10px;
                  color: #ffffff;
                }
                .text-block {
                  margin-bottom: 18px;

                  p {
                    font-size: 14px;
                    line-height: 22px;
                    color: #ffffff;
                  }
                }
                .more {
                  display: block;
                  font-size: 13px;
                  color: #9c9c9c;
                  text-align: center;
                  width: 126px;
                  padding-top: 10px;
                  padding-bottom: 10px;
                  background: url('../img/bgbutton.png') no-repeat;
                  -webkit-background-size: 100% 100%;
                  background-size: 100% 100%;
                }
                .more:hover {
                  opacity: 0.8;
                }
              }
            }
          }
        }
        #slider-nav {
          position: absolute;
          bottom: -15px;
          left: 50%;

          li {
            display: inline-block;
            vertical-align: top;
            margin-right: 8px;
            width: 21px;
            height: 21px;
            background: url('../img/nav.png') no-repeat;
            text-indent: -9999px;
          }
          li.active {
            background: url('../img/nav-h.png') no-repeat;
          }
        }
      }
    }
  }
  #content {

    #leftcol {
      float: left;
      width: 260px;
      max-width: 260px;
      overflow: hidden;
      background: #ffffff;

      #menuleft {

        li {
          margin-bottom: 2px;
          background: #e1cd9f;

          a {
            font-size: 14px;
            color: #090909;
            padding: 10px;
            display: block;
          }
          a:hover {
            background: #eae1bc;
          }
        }
        li:last-child {
          margin-bottom: 0;
        }
      }
    }
    #rightcol {
      float: right;
      width: 635px;
      background: #f8f8f8;
      padding-top: 40px;
      padding-bottom: 105px;
      padding-left: 25px;
      padding-right: 40px;

      h1 {
        font-size: 28px;
      }
      .text-block {

        p {
          line-height: 24px;
          font-size: 14px;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
      #product {
        margin-top: 20px;

        .product-block {
          margin-bottom: 20px;

          img {
            width: 192px;
            height: 120px;
            float: left;
            margin-right: 10px;
          }
          .title {
            font-size: 24px;
            color: #656565;
          }
          .title:hover {
            color: darken(#656565, 10%);
          }
          .text-block {

            p {
              margin-top: 5px;
              margin-bottom: 5px;
              line-height: 20px;
            }
          }
          .more {
            font-size: 14px;
            color: #e67817;
          }
          .more:hover {
            color: darken(#e67817, 10%);
          }
        }
      }
      #pagination {
        text-align: center;

        li {
          display: inline-block;
          vertical-align: top;
          margin-right: 3px;

          a {
            font-size: 13px;
            padding: 3px 6px;
            color: #656565;
          }
          a.current, a:hover {
            background: #e67817;
            color: #ffffff;
          }
        }
      }
    }
  }
}
footer {
  background: url('../img/bgfooter.png') no-repeat bottom left;
  height: 250px;
  
  .left {
    float: left;
  }
  #logofooter {
    width: 262px;
    height: 115px;
    display: block;
    margin-top: 45px;
    background: url('../img/logofooter.png') no-repeat;
  }
  #copyrights {
    margin-top: 15px;

    p {
      font-size: 11px;
      color: #000000;
    }
  }
  .right {
    float: left;
    margin-left: 25px;
  }
  #menubottom-t {
    margin-top: 45px;

    li {
      display: inline-block;
      vertical-align: top;
      margin-right: 15px;

      a {
        font-size: 13px;
        color: #ffffff;
      }
      a.current, a:hover {
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }
  #menubottom-b {
    margin-top: 25px;

    ul {
      display: inline-block;
      vertical-align: top;
      margin-right: 15px;
    }

    li {
      margin-bottom: 8px;
      width: 175px;

      a {
        font-size: 12px;
        color: #ffffff;
      }
      a.current, a:hover {
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }
  #hodlogo {
    float: right;
    display: block;
    width: 95px;
    height: 60px;
    background: url('../img/hodlogo.png') no-repeat;
    margin-top: 90px;
  }
}